body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  grid-gap: 1rem;
  font-family: system-ui;
}
@media (max-width: 400px) {
  body {
    grid-template-columns: repeat(2, 1fr);
  }
  span {
    grid-column: span 2;
  }
}
div {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 1rem;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
